body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background-color: lightseagreen;
    color: white;
}

h1{
    text-align: center;
    color: darkslategrey;
}

.container{
    width: 30%;
    background-color: white;
    padding: 30px;
    margin: 30px auto;
}

.tareasList{
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

form{
    display: flex;
}

input{
    padding: 15px 10px;
    width: 400px;
    outline: none;
}

.btn-add{
    padding: 15px 10px;
    color: white;
    background-color: teal;
    font-family: fantasy;
    border: none;
    font-size: 1.4rem;
}

.btn-add:hover{
    cursor: pointer;
    background-color: lightseagreen;
}

.empty{
    color:darkslategray
}

ul{
    padding: 0;
}

li{
    margin-bottom: 10px;
    background-color: rgb(207, 206, 206);
    color: rgb(68, 67, 67);
    border-radius: 5px;
    list-style: none;
    display: flex;
    
    
}

li p{
    margin: 0;
    padding: 15px 10px;
    width: 400px;
    outline: none;
}

.btn-delete{
    padding: 15px 10px;
    color:white;
    background-color: rgb(243, 12, 12);
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px ;
    font-size: 1.4rem;
    

}

.btn-delete:hover{
    background-color: rgba(128, 26, 0, 0.192);


}
